body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-container {
    display: block;
    border: 2px solid rgb(5, 5, 5);
    height: 18vh;
    width: 100%;
    background-color:rgb(212, 178, 243);
    border-radius: 10px;
    margin-bottom: 5vh;  
}
.c12 {
    height: 8vh;
    text-align: center;
    padding-top: 1em;
}

.mycol {
    height: 8vh;
    border: 2px solid rgb(5, 5, 5);
    border-radius: 10px;
    text-align: center;
    padding-top: 1em;  
}
.my-container1 {
    position: relative;
    height: 31vh;
    top: 20%;
    background-color: rgb(212, 178, 243);
    border-radius: 10px;
    border: 2px solid rgb(5, 5, 5);
}
.colim {
    position: relative;
    height: 31vh;
    border: 1px solid rgb(5, 5, 5);
    border-radius: 10px;
    text-align: center;
    padding-top: 1.5em;
}
.my-container3 {
    position: relative;
    border: 2px solid rgb(5, 5, 5);
    height: 18vh;
    width: 100%;
    background-color: rgb(212, 178, 243);
    border-radius: 10px;
    margin-top: 5vh;  
    top: 20%;
}
.my-container4 {
    position: relative;
    height: 15vh;
    top: 20%;
    border-radius: 10px;
    margin-top: 5em; 
}
.mycol1 {
    height: 13.5vh;
    border: 2px solid rgb(5, 5, 5);
    border-radius: 10px;
    text-align: center;
    padding-top: 1em;
    background-color:rgb(212, 178, 243);
}