.mycontainer{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.mycol{
    height: 8vh;
    background-color: rgb(209, 206, 206);
    border: 1px solid white;  
}
.myrow{
    margin-bottom: .5em;
}
